h1 {
    color: #684fa3;
}

body {
    font-size: 20px;
}

.texto {
    margin-bottom: 20px; /* ajuste conforme necessário */
}

.imagem-com-texto {
    display: inline-block;
    margin-right: 20px; /* ajuste conforme necessário */
}

.imagem {
    width: 400px; /* Largura ainda maior para as imagens */
    height: auto;
}


